[Unit]
Description = node-systemd-example
Requires = node-example.socket

[Service]
Type=notify
ExecStart=/usr/bin/node %h/src/node-systemd-example/index.js
StandardOutput=syslog
SyslogIdentifier=node-systemd-example

ExecReload=/bin/kill -HUP $MAINPID

# Restart on failure
Restart=on-failure
# Restart on exit code 133 (which is returned by the app when receiving SIGUP)
RestartForceExitStatus=133
# ..but do not interpret exit code 111 as an error (as it's the reaction to ExecReload, not a failure)
SuccessExitStatus=133

TimeoutStopSec=30s
WatchdogSec=30s

Environment=NODE_ENV=production
